{{ define "base" }}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go-solve - Golang practice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <script>
            tailwind.config = {
                darkMode: 'selector'
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.35.2/ace.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    </head>
    <body class="dark bg-neutral-800 h-screen flex flex-col text-neutral-200">

    {{ template "header" . }}

    {{ if eq .Path "signup-form"}}
        {{ template "signup-form" }}
    {{ else if eq .Path "" }}
        {{ template "task-list" .TaskData }}
    {{ end }}

    </body>
    </html>
{{ end }}
