{{ define "login-button" }}


    <button id="dropdownButton"
            class="bg-neutral-900 border border-neutral-400
                    text-gray-300 px-4
                    py-1 rounded-md
                    focus:outline-none">
        Login
    </button>

    <!-- Dropdown Content -->
    <div id="dropdownContent"
         class="absolute right-10 top-16 mt-10 w-128 bg-neutral-800 rounded-md shadow-xl
                 hidden">
        {{ template "login-form" }}
    </div>
    <script>
        // JavaScript to toggle the dropdown
        const dropdownButton = document.getElementById('dropdownButton');
        const dropdownContent = document.getElementById('dropdownContent');

        dropdownButton.addEventListener('click', () => {
            dropdownContent.classList.toggle('hidden');
        });

        // Close the dropdown if clicked outside
        document.addEventListener('click', (event) => {
            if (!dropdownButton.contains(event.target) && !dropdownContent.contains(event.target)) {
                dropdownContent.classList.add('hidden');
            }
        });
    </script>


{{ end }}

