{{ define "signup-form" }}
    <form class="p-4 flex flex-col items-center" hx-post="/signup" hx-target="this"
          hx-swap="outerHTML">
        <div class="mb-4">
            <label for="username"
                   class="block text-sm font-medium text-neutral-300">Username</label>
            <input type="text" id="username" name="username" required
                   class="mt-1 block w-full px-4 border text-neutral-900
                               border-neutral-300
                               rounded-md shadow-sm focus:outline-none focus:ring-neutral-500
                               focus:border-neutral-500"
                   placeholder="Enter your username">
            <p class="text-red-500 opacity-50">
                {{ if . }}
                    {{ if .UsernameTaken }}
                        Username taken.
                    {{ else if .PasswordsDontMatch }}
                        Passwords don't match.
                    {{ end }}
                {{ end }}
            </p>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium
                        text-gray-300">Password</label>
            <input type="password" id="password" name="password" required
                   class="mt-1 block w-full px-4 border
                               text-neutral-900 border-neutral-300
                               rounded-md shadow-sm focus:outline-none focus:ring-neutral-500
                               focus:border-neutral-500"
                   placeholder="Enter your password">
        </div>
        <div class="mb-4">
            <label for="confirm-password" class="block text-sm font-medium
                        text-gray-300">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" required
                   class="mt-1 block w-full px-4 border
                               text-neutral-900 border-neutral-300
                               rounded-md shadow-sm focus:outline-none focus:ring-neutral-500
                               focus:border-neutral-500"
                   placeholder="Confirm your password">
        </div>
        <div class="flex flex-row gap-5">
            <button type="submit"
                    class="w-full text-center bg-neutral-700
                            text-neutral-300 px-4
                            py-1 rounded-md
                            hover:bg-neutral-600 focus:outline-none focus:ring-2
                            focus:ring-neutral-500
                            focus:ring-opacity-50">
                Sign up
            </button>
        </div>

        <p class="text-green-500 opacity-50">
            {{ if . }}
                {{ if .SignUpSuccess }}
                    Signed up successfully.
                {{ end }}
            {{ end }}
        </p>
    </form>
{{ end }}
